version: '3'

# 挂载数据卷
volumes:
  www-docker-sync:

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      # - "8080:8080"
      # - "443:443"
    volumes:
      - www-docker-sync:/var/www/html/
      - ./conf/nginx/conf.d:/etc/nginx/conf.d/
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./log/nginx/:/var/log/nginx/
    links:
      # - php72:fpm72
      # - php56:fpm56
    environment:
      - TZ=Asia/Shanghai
    networks:
      docker_net:
        ipv4_address: ${NGINX_IP}

  php72:
    build: ./php/php72/
    expose:
      - "9000"
    volumes:
      - www-docker-sync:/var/www/html/
      - ./conf/php/php72.ini:/usr/local/etc/php/php.ini
      - ./conf/php/php-fpm.d/www72.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./log/php-fpm/:/var/log/php-fpm/
    links:
      - mysql:mysql
      - redis:redis
    environment:
      - TZ=Asia/Shanghai
    networks:
      docker_net:
        ipv4_address: ${PHP72_IP}

  php56:
    build: ./php/php56/
    expose:
      - "9000"
    volumes:
      - www-docker-sync:/var/www/html/
      - ./conf/php/php56.ini:/usr/local/etc/php/php.ini
      - ./conf/php/php-fpm.d/www56.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./log/php-fpm/:/var/log/php-fpm/
    links:
      - mysql:mysql
      - redis:redis
    environment:
      - TZ=Asia/Shanghai
    extra_hosts: #解决 curl 无法使用的问题，域名绑定 Nginx 的固定 ip，必须是固定 ip
      - "s1.test.cn:172.100.0.2"
    networks:
      docker_net:
        ipv4_address: ${PHP56_IP}

  mysql:
    image: mysql:5.6
    ports:
      - "3306:3306"
      # - "33060:3306"
    volumes:
      - ./conf/mysql/my.cnf:/etc/mysql/my.cnf
      - ./mysql/:/var/lib/mysql/
      - ./log/mysql/:/var/log/mysql/
    environment:
      - TZ=Asia/Shanghai
      - MYSQL_ROOT_PASSWORD=root
    networks:
      docker_net:
        ipv4_address: ${MYSQL_IP}

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    environment:
      - TZ=Asia/Shanghai
    networks:
      docker_net:
        ipv4_address: ${REDIS_IP}

  # this service sync a local dir in your computer with a dir on the app server side
  bg-sync:
    image: cweagans/bg-sync
    volumes:
      - ${WORKSPACES}:/source
      - www-docker-sync:/var/www/html
    environment:
      SYNC_VERBOSE: 1
      SYNC_DESTINATION: /var/www/html
      SYNC_MAX_INOTIFY_WATCHES: 40000
    privileged: true

  # portainer:
  #   image: portainer/portainer:latest
  #   ports:
  #     - "9000:9000"
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - ./portainer/:/data
  #   networks:
  #     docker_net:
  #       ipv4_address: ${PORTAINER_IP}


networks:
  docker_net:
    driver: bridge
    ipam:
      # driver: default
      config:
        - subnet: "${DOCKER_SUBNET}"


